= provide(:page_title, 'Checkout Completed!')
= provide :body_class, 'success'
%h1 Success!

.row
  .col-md-6
    %p
      You've successfully completed your purchase!
    %p
      An e-mail confirmation will be sent to you shortly, and one of our editors will begin working on your video immediately!

%h3.text-center
  In the meantime, check out some other awesome videos we've created for our customers!

.row.video-row
  .col-md-6.text-center
    <iframe src="//player.vimeo.com/video/89466267" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  .col-md-6.text-center
    <iframe src="//player.vimeo.com/video/89373093" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

.row.video-row
  .col-md-6.text-center
    <iframe src="//player.vimeo.com/video/75347103" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  .col-md-6.text-center
    <iframe src="//player.vimeo.com/video/85400163" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>