= provide(:page_title, 'Checkout Completed!')
%h1 Success!

%p
  You've successfully completed your purchase.
  One of our editors will begin working on your video shortly.

%h3
  In the meantime, check out some other awesome videos we've created for our customers!

.row
  .col-md-6
    <iframe width="420" height="315" src="//www.youtube.com/embed/vdQj2ohqCBk" frameborder="0" allowfullscreen></iframe>
  .col-md-6
    <iframe width="420" height="315" src="//www.youtube.com/embed/vdQj2ohqCBk" frameborder="0" allowfullscreen></iframe>
  .col-md-6
    <iframe width="420" height="315" src="//www.youtube.com/embed/vdQj2ohqCBk" frameborder="0" allowfullscreen></iframe>
  .col-md-6
    <iframe width="420" height="315" src="//www.youtube.com/embed/vdQj2ohqCBk" frameborder="0" allowfullscreen></iframe>