<div class="vidoes">
	<h1>Featured Videos</h1>

	<div class="col-md-7 no-padding">
		<div class="vid-container">
		   <iframe 
		       id="vid_frame" 
		       src="http://www.youtube.com/embed/wmvYvlpJBGs?rel=0&showinfo=0&autohide=1" 
		       frameborder="0" width="560" height="315">
		   </iframe>
		</div>
	</div>
	<div class="col-md-5">
		<h4 id="vid-main-title">Greece 2013</h4>
		<p id="vid-main-description">Friends take an action-packed trip to Greece.</p>
	</div>
	<div class="col-md-12">
		<div class="vid-list-container">
			<div class="vid-list">
				
				<div class="vid-item">
					<a href="#" id="video">
					  <div class="thumb">
							<img src="http://img.youtube.com/vi/CIGFX7xKaps/0.jpg">				
					  </div>
					  <div class="vid-title" id="vid-title">
					    Chicago Booth Holi Celebration
					  </div>
						<div class="vid-src">http://youtube.com/embed/CIGFX7xKaps?rel=0&showinfo=0&autohide=1</div>
					  <div class="vid-desc">
					    Chicago Booth students welcome the beginning of Spring by celebrating Holi, the Indian Festival of Colors.
					  </div>
					</a>
				</div>
				
				<div class="vid-item">
					<a href="#" id="video">
					  <div class="thumb">
							<img src="http://img.youtube.com/vi/-BbkXEPY_ko/0.jpg">				
					  </div>
					  <div class="vid-title" id="vid-title">
					    Sailing in Santa Cruz
					  </div>
						<div class="vid-src">http://youtube.com/embed/-BbkXEPY_ko?rel=0&showinfo=0&autohide=1</div>
					  <div class="vid-desc">
					    Matt picks up speed on his sailboat in Santa Cruz.
					  </div>
					</a>
				</div>
				
			
			</div>
		</div>

		<div class="arrows">
	    <div class="arrow-left arrow"><i class="glyphicon glyphicon-chevron-left"></i></div>
	    <div class="arrow-right arrow"><i class="glyphicon glyphicon-chevron-right"></i></div>
		</div>
	</div>
</div>