<div class="vidoes">
	<h1>Featured Videos</h1>

	<div class="col-md-7">
		<div class="vid-container">
		   <iframe 
		       id="vid_frame" 
		       src="http://www.youtube.com/embed/wmvYvlpJBGs?rel=0&showinfo=0&autohide=1" 
		       frameborder="0" width="560" height="315">
		   </iframe>
		</div>
	</div>
	<div class="col-md-5">
		<h4>Description</h4>
		<p>Video description. Nullam dignissium convallis est. Quisque aliguqam. Donec faucibus.
	</div>
	<div class="col-md-12">
		<div class="vid-list-container">
			<div class="vid-list">
				<div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/xVNvKacyA6o?autohide=1'">
				  <div class="thumb">
				    <img src="http://img.youtube.com/vi/xVNvKacyA6o/0.jpg">
				  </div>
				  <div class="vid-title">
				    Paul's Jackson Hole Ski Trip
				  </div>
				</div>
		
				<div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/Axq_G4xO5NU?autohide=1'">
				  <div class="thumb">
				    <img src="http://img.youtube.com/vi/Axq_G4xO5NU/0.jpg">
				  </div>
				  <div class="vid-title">
				    Booth Spring Break - Machu Picchu
				  </div>
				</div>
		
				<div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/yay2ODQBnfM?autohide=1'">
				  <div class="thumb">
				    <img src="http://img.youtube.com/vi/yay2ODQBnfM/0.jpg">
				  </div>
				  <div class="vid-title">
				    Business School Students Party in Colombia
				  </div>
				</div>
		
				<div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/-BbkXEPY_ko?autohide=1'">
				  <div class="thumb">
				    <img src="http://img.youtube.com/vi/-BbkXEPY_ko/0.jpg">
				  </div>
				  <div class="vid-title">
				    Sailing in Santa Cruz
				  </div>
				</div>
		
				<div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/q75nSCDlEJs?autohide=1'">
				  <div class="thumb">
				    <img src="http://img.youtube.com/vi/q75nSCDlEJs/0.jpg">
				  </div>
				  <div class="vid-title">
				    Musky Fly Fishing - Memorial Day 2014
				  </div>
				</div>
		
				<div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/2RkxfVixn4c?autohide=1'">
				  <div class="thumb">
				    <img src="http://img.youtube.com/vi/2RkxfVixn4c/0.jpg">
				  </div>
				  <div class="vid-title">
				    Paragliding in Interlaken
				  </div>
				</div>
			</div>
		</div>

		<div class="arrows">
		    <div class="arrow-left arrow"><i class="glyphicon glyphicon-chevron-left"></i></div>
		    <div class="arrow-right arrow"><i class="glyphicon glyphicon-chevron-right"></i></div>
		</div>
	</div>
</div>