<div class="vid-item">
	<a href="#" id="video" class="video-link">
 	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/CIGFX7xKaps/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
	  <div class="vid-title" id="vid-title">
	    Chicago Booth Holi Celebration
	  </div>
	<div class="vid-src">http://youtube.com/embed/CIGFX7xKaps?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
    Chicago Booth students welcome the beginning of Spring by celebrating Holi, the Indian Festival of Colors.
  </div>
</div>
			
<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/-BbkXEPY_ko/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Sailing in Santa Cruz
  </div>
	<div class="vid-src">http://youtube.com/embed/-BbkXEPY_ko?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
    Matt picks up speed on his sailboat in Santa Cruz. 
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/meS8TdpQNZQ/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Millennium Park Drone Flight
  </div>
	<div class="vid-src">http://youtube.com/embed/meS8TdpQNZQ?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
    A drone's maiden voyage over Millennium Park in Chicago. 
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/q75nSCDlEJs/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Musky Fly Fishing - Memorial Day 2014
  </div>
	<div class="vid-src">http://youtube.com/embed/q75nSCDlEJs?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
    
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/QWWtQH_XxLI/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Chicago Booth - Random Walk China 2013
  </div>
	<div class="vid-src">http://youtube.com/embed/QWWtQH_XxLI?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Booth students explore the wonders of China.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/r7bXJ2HtDLU/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Vail Ski Trip 2014
  </div>
	<div class="vid-src">http://youtube.com/embed/r7bXJ2HtDLU?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Mark conquers almost every type of terrain at Vail Resort.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/xRn-lutpJGE/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Central America 2014
  </div>
	<div class="vid-src">http://youtube.com/embed/xRn-lutpJGE?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Friends take a trip to Central America.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/WVTPVBHSHSs/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Chicago Booth - Kentucky Derby Road Trip
  </div>
	<div class="vid-src">http://youtube.com/embed/WVTPVBHSHSs?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Booth students packed in 15 RVs road trip to the Kentucky Derby.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/jdHLBBp3xzw/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Booth Soccer Club - MBA World Cup 2014
  </div>
	<div class="vid-src">http://youtube.com/embed/jdHLBBp3xzw?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		The Booth Soccer Club battles it out in the MBA World Cup.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/2RkxfVixn4c/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Paragliding in Interlaken
  </div>
	<div class="vid-src">http://youtube.com/embed/2RkxfVixn4c?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		A paraglider takes to the skies in Interlaken, Switzerland.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/t9B8_rC7aOg/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Football Decimates a Drone Mid-Air
  </div>
	<div class="vid-src">http://youtube.com/embed/t9B8_rC7aOg?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Drone gets sniped out of the sky during a game of beach football.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/ZR7fzyG8ZTw/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Tuna Fishing on Cape Cod
  </div>
	<div class="vid-src">http://youtube.com/embed/ZR7fzyG8ZTw?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Tuna fishing charter in July off the coast of Cape Cod, MA.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/Axq_G4xO5NU/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Booth Spring Break - Machu Picchu
  </div>
	<div class="vid-src">http://youtube.com/embed/Axq_G4xO5NU?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		A group of Chicago Booth grad students explore the hidden wonders of Machu Picchu.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/ZzVso7U1R_8/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Wakeboarding on Pleasant Bay
  </div>
	<div class="vid-src">http://youtube.com/embed/ZzVso7U1R_8?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Wakeboarding on Pleasant Bay, Cape Cod.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/yay2ODQBnfM/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Business School Students Party in Colombia
  </div>
	<div class="vid-src">http://youtube.com/embed/yay2ODQBnfM?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Chicago Booth grad students live it up in Cartagena, Colombia.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/FluEqYJQp0k/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Korey Johnson - Beat Farm
  </div>
	<div class="vid-src">http://youtube.com/embed/FluEqYJQp0k?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Beat Farm invades Mount Snow with rider Korey Johnson.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/_gDa12pZGco/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Natural Habitat - Winterfest 2014
  </div>
	<div class="vid-src">http://youtube.com/embed/_gDa12pZGco?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Natural Habitat takes to the slopes at A-Basin for Winterfest 2014.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/bTuCQwl8dN8/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Vail, Colorado - Summer 2014
  </div>
	<div class="vid-src">http://youtube.com/embed/bTuCQwl8dN8?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/7fC8tN09B30/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Alex's 4th Birthday Party
  </div>
	<div class="vid-src">http://youtube.com/embed/7fC8tN09B30?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Alex celebrates his fourth birthday with friends and family.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/fhC0dEOE8Z8/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Cape Cod Summer 2013
  </div>
	<div class="vid-src">http://youtube.com/embed/fhC0dEOE8Z8?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
		Friends enjoying an epic weekend on Cape Cod. Documented with a GoPro HERO2 and HERO3 Black Edition.
  </div>
</div><!--Vid-Item-->

<div class="vid-item">
	<a href="#" id="video" class="video-link">
	 	<div class="thumb">
			<img src="http://img.youtube.com/vi/xVNvKacyA6o/0.jpg" class="video-thumb">		
			<div class="thumb-wrapper"></div>
	  </div>
	</a>
  <div class="vid-title" id="vid-title">
    Paul's Jackson Hole Ski Trip
  </div>
	<div class="vid-src">http://youtube.com/embed/xVNvKacyA6o?rel=0&showinfo=0&autohide=1</div>
  <div class="vid-desc">
  </div>
</div><!--Vid-Item-->
