---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3jZQYEpbW8nYid&email=guy%40example.com&description=%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Name%3A%20.%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Uploaded%20files%3A%20s3%3A%2F%2Factivid%2F0a174aa0d095cc1b6ae949c16f38c1f0%2F%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Minutes%3A%202%20Minutes%0A
    headers:
      Authorization:
      - Bearer sk_test_aZs9IWK2fMnxQqgWCns8iIXW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1395798982,
          "id": "cus_3jZQpKp1YSdQc6",
          "livemode": false,
          "description": "                              Name: .\n                              Uploaded files: s3://activid/0a174aa0d095cc1b6ae949c16f38c1f0/\n                              Minutes: 2 Minutes\n",
          "email": "guy@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_3jZQpKp1YSdQc6/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3jZQpKp1YSdQc6/cards",
            "data": [
              {
                "id": "card_3jZQ36qKTr0ahk",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "HTtdaqhN9cG2igMo",
                "customer": "cus_3jZQpKp1YSdQc6",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_3jZQ36qKTr0ahk",
          "subscription": null
        }
  recorded_at: Wed, 26 Mar 2014 01:56:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=295&currency=usd&customer=cus_3jZQpKp1YSdQc6
    headers:
      Authorization:
      - Bearer sk_test_aZs9IWK2fMnxQqgWCns8iIXW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3jZQkjSVNMk48x",
          "object": "charge",
          "created": 1395798983,
          "livemode": false,
          "paid": true,
          "amount": 295,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_3jZQ36qKTr0ahk",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "HTtdaqhN9cG2igMo",
            "customer": "cus_3jZQpKp1YSdQc6",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_3jZQqvfwtkE4X5",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3jZQpKp1YSdQc6",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 26 Mar 2014 01:56:23 GMT
recorded_with: VCR 2.8.0
