---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3p7gsRvIOULII6&email=guy%40example.com&description=%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Name%3A%20.%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Uploaded%20files%3A%20s3%3A%2F%2Factivid%2Fac075b778f1f627e82584e00a350305b%2F%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Minutes%3A%20%23%3CVideoLength%3A0x00000004c2b9e8%3E%0A
    headers:
      Authorization:
      - Bearer sk_test_aZs9IWK2fMnxQqgWCns8iIXW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1397079642,
          "id": "cus_3p7gv9zoftmseU",
          "livemode": false,
          "description": "                              Name: .\n                              Uploaded files: s3://activid/ac075b778f1f627e82584e00a350305b/\n                              Minutes: #\u003CVideoLength:0x00000004c2b9e8\u003E\n",
          "email": "guy@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_3p7gv9zoftmseU/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3p7gv9zoftmseU/cards",
            "data": [
              {
                "id": "card_3p7ghNlx4UGXMo",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "HTtdaqhN9cG2igMo",
                "customer": "cus_3p7gv9zoftmseU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_3p7ghNlx4UGXMo",
          "subscription": null
        }
  recorded_at: Wed, 09 Apr 2014 21:40:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=9500&currency=usd&customer=cus_3p7gv9zoftmseU
    headers:
      Authorization:
      - Bearer sk_test_aZs9IWK2fMnxQqgWCns8iIXW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3p7gOjJxJSC6NX",
          "object": "charge",
          "created": 1397079643,
          "livemode": false,
          "paid": true,
          "amount": 9500,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_3p7ghNlx4UGXMo",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "HTtdaqhN9cG2igMo",
            "customer": "cus_3p7gv9zoftmseU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_3p7gbfSQq2YQaC",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3p7gv9zoftmseU",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 09 Apr 2014 21:40:43 GMT
recorded_with: VCR 2.8.0
