@import 'forms';

* {
  font-family: 'Open Sans', sans-serif;
}

a.disabled {
  pointer-events: none;
}

header {
  height: 70px;
}

footer {
  margin-top: 15px;
  padding: 15px 0;
  border-top: 1px solid #ccc;

  background-color: #232323;

  a {
    font-size: 18px;
    color: #2A92E5;
  }

  a ~ a {
    margin-left: 15px;
  }
}

.page-title:not(:empty) {
  &:before {
    content: "> ";
  }
}

.we-are-awesome {
  margin-bottom: 25px;
}