@import 'forms';

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

a.disabled {
  pointer-events: none;
}

header {
  height: 51px;

  a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin: 5px 0;
    background-image: asset-url("activid-logo-144x40.png");
    width: 144px;
    height: 40px;
    display: block;
    text-indent: -4000px;
  }
}

footer {
  margin-top: 15px;
  padding: 30px 0;
  border-top: 1px solid #ccc;

  background-color: #232323;

  position: absolute;
  bottom: 0;
  width: 100%;

  a {
    font-size: 18px;
    color: #2A92E5;
  }

  nav a ~ a {
    margin-left: 15px;
  }

  .social {
    float: right;

    a {
      width: 32px;
      height: 32px;
      display: inline-block;
      text-indent: -5000px;
      background: asset-url("social-icons-sprite.png") no-repeat center center;
    }

    a:hover {
      opacity: 0.8;
    }

    .facebook {
      background-position: 0 center;
    }
    .twitter {
      background-position: -32px center;
    }
    .instagram {
      background-position: -64px center;
    }
    .youtube {
      background-position: -96px center;
    }
    .vimeo {
      background-position: -128px center;
    }
  }
}

#container {
  min-height: 100%;
  position: relative;

  & > .container {
    padding-bottom: 100px;
  }
}

.page-title:not(:empty) {
  &:before {
    content: "> ";
  }
}

.ajax-spinner {
  transition: opacity 1s;
  opacity: 1;

  &.inactive {
    opacity: 0;
  }
  img {
    height: 50px;
  }
}


.navigation {
  .btn {
    font-size: 18px;
  }
}

.btn-xxl {
  font-size: 24px;
}

.errors-container {
  margin: 40px 0;
}

hr {
  border-color: #8a8c8e;
}
