.homepage {

  // On the homepage only...

  /* // Transparent navbar.
  .navbar {
    background: none;
    border: none;

    a {
      color: white;
    }
  }
  */
  .navbar {
    margin-bottom: 0px;
  }

  .homepage-blurb {
    font-size: 18px;
    margin-top: 40px;

    h2 {
      margin-top: 0;
      text-transform: uppercase;
    }

    ul li {
      margin-bottom: 15px;
    }
  }

  .jumbotron {
    position: relative;
    z-index: 1;

    background: none;
    color: white;

    height: 768px;// - 50px; // Note: has to match image height of fixed position wide-image, minus 50px for the navbar.

    margin-bottom: 60px;

    .btn.get-started {
      margin: 2in 0; // Client is using "in" as measurements.
    }

  }

  .wide-image {
    position: absolute;
    left: 0;
    top: 51px; //navbar has a min-width of 51px
    width: 100%;

    .item > img {
      width: 100%;
      height: 768px;
    }
  }

  .we-are-awesome {
    margin-bottom: 60px;

    h2 {
      margin: 0;
    }
  }

  .video {
    margin-bottom: 40px;
  }

  .btn.get-started {
    margin: 40px 0;
  }
}