.homepage {

  // On the homepage only...
  font-size: 18px;

  /* // Transparent navbar.
  .navbar {
    background: none;
    border: none;

    a {
      color: white;
    }
  }
  */
  .navbar {
    margin-bottom: 0px;
  }

  // Hack: remove container margins to allow page elements to go full-bleed.
  // additional container subelements are added to the page content.
  #container > .container {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .homepage-blurb {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;

    .icon {
      margin-bottom: 5px;
    }

    [class*="col-"] {
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 0;
    }
  }
  
  .videos .homepage-blurb, .how .homepage-blurb, .why .homepage-blurb {
    padding-bottom: 25px;
  }

  .we-are-awesome .homepage-blurb {
    padding-bottom: 40px;
  }

  h2 {
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    color: #8a8c8e;
    margin-bottom: 25px;
    font-size: 40px;
  }

  .jumbotron {
    position: relative;
    z-index: 5;
    background: none;
    color: white;
    margin-bottom: 0;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;

    .inner {
      position: absolute;
      top: 12%;
      max-width: 50%;

      h1 {
        margin-top: 0;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        color: #f19f1d;

        span {
          display: block;
        }
      }
      p {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        //color: #f19f1d;
        font-weight: bold;
        letter-spacing: 1px;

        span {
          white-space: nowrap;
        }
      }
    }
  }

  .wide-image {
    position: absolute;
    left: 0;
    top: 51px; //navbar has a min-width of 51px
    width: 100%;

    .carousel-control {
      display: none;
    }

    .item > img {
      width: 100%;
    }
  }

  @media (max-width: 520px) {
    .jumbotron .inner {
      position: static;
      max-width: none;

      h1, p {
        text-shadow: none;

        span {
          display: inline;
        }
      }
      p {
        color: #8a8c8e;
        
        span {
          white-space: normal;
        }
      }
    }
  }

  .we-are-awesome {
    color: #8a8c8e;
    font-size: 24px;
    p {
      margin: 0;
    }
  }

  .videos, .why {
    background-color: #f3f3f3;
  }

  .bottom-cta {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .btn.btn-primary {
    background-color: #f19f1d;
    border-color: #ea9d24;
    text-transform: uppercase;
    text-shadow: none;
  }
}
