@import 'theme';

/* Homepage fixes */

.homepage {
  $blurbSeparation: 110px;
  $colBottomMargin: 20px;

  /* // Transparent navbar.
  .navbar {
    background: none;
    border: none;

    a {
      color: white;
    }
  }
  */
  .navbar {
    margin-bottom: 0px;
  }

  // Hack: remove container margins to allow page elements to go full-bleed.
  // additional container subelements are added to the page content.
  #container > .container {
    width: auto;
		margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .homepage-blurb {
    padding-top: $blurbSeparation / 2;
    padding-bottom: $blurbSeparation / 2;
    text-align: center;

    .icon {
      margin-bottom: 5px;
    }

    [class*="col-"] {
      margin-bottom: $colBottomMargin;
    }

    h2 {
      margin-top: 0;
    }
  }
  
  .videos .homepage-blurb, .how .homepage-blurb, .why .homepage-blurb {
    padding-bottom: $blurbSeparation / 2 - $colBottomMargin;
  }

  .we-are-awesome .homepage-blurb {
    padding-bottom: 20px;
  }

  h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 35px;
    
  }

  .jumbotron {
    position: relative;
    z-index: 5;
    background: none;
    color: white;
    margin-bottom: 0;
    box-sizing: border-box;
		padding: 0;

    .inner {
      position: absolute;
      top: 12%;
      max-width: 50%;

      h1 {
        margin-top: 0;
        color: $primaryColor;
				margin-top: 20%;

        span {
          display: block;
        }
      }
      p {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        //color: #f19f1d;
        font-weight: bold;
        letter-spacing: 1px;

        span {
          white-space: nowrap;
        }
      }
    }
  }

  .wide-image {
    position: absolute;
    left: 0;
    top: 51px; //navbar has a min-width of 51px
    width: 100%;

    .carousel-control {
      display: none;
    }

    .item > img {
      width: 100%;
    }
  }

  @media (max-width: 520px) {
    .jumbotron .inner {
      position: static;
      max-width: none;

      h1, p {
        text-shadow: none;

        span {
          display: inline;
        }
      }
      p {
        color: $secondaryColor;
        
        span {
          white-space: normal;
        }
      }
    }
  }

  .we-are-awesome {
    color: $secondaryColor;
    font-size: 24px;
    p {
      margin: 0;
    }
  }

  .videos, .why, .we-are-awesome {
    background-color: $altBg;
  }

  .bottom-cta {
    text-align: center;
    margin-top: $blurbSeparation / 2;
    margin-bottom: $blurbSeparation / 2;
  }

}
