$primaryColor: #f19f1d;
$primaryBorder: #ea9d24;

$secondaryColor: #8a8c8e;
$secondaryBorder: #acadaf;

$altBg: #f3f3f3;

h1, h2, h3, h4 {
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
}

h1, h2 {
	color: $primaryColor;
}

h3, h4, h5, h6 {
	color: $secondaryColor;
}

