$primaryColor: #f19f1d;
$primaryBorder: #ea9d24;

$secondaryColor: #8a8c8e;
$secondaryBorder: #acadaf;

$altBg: #f3f3f3;

.carousel-caption h1 {
	font-size: 57px;
	color: #fff;
} 

h1, h2 {
	color: $primaryColor;
}

h3, h4, h5, h6 {
	color: $secondaryColor;
}

